@font-face {
    font-family: avenir;
    src: url(AvenirNext-UltraLight.tff);
}

body {
  font-family: avenir;
  background-image: radial-gradient(circle, #FFF 12%, #CCC);
  overflow: scroll;
}

.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

h1 { 
  font-weight:lighter;
  font-size: 50pt;
  color: #008E05;
  text-align: center;
}

p {
  color:#666;
  text-align: center;
}
