body {
  font-family: Avenir Next, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  background-image: radial-gradient(circle, #FFF 12%, #CCC);
  overflow: scroll;
}

.block {
  text-align: center;
}
 
.block:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}

h1 { 
  text-align: center;
  color: #008E05;
  font-weight:lighter;
  font-size: 6.5vw;
  margin: 0;
}

p {
  color:#666;
  font-weight:lighter;
  text-align: center;
  font-size: 3.3vw;
}