---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your development process with our
      <span class="text-accent dark:text-white highlight"> experience</span>
    </Fragment>
    
    <!--
    <Fragment slot="subtitle">
      According to Wikipedia, the LP (from "long playing"[1] or "long play") is an analog sound storage medium, specifically a phonograph record format characterized by: a speed of 33+1⁄3 rpm; a 12- or 10-inch (30- or 25-cm) diameter; use of the "microgroove" groove specification; and a vinyl (a copolymer of vinyl chloride acetate) composition disk.
    </Fragment>
    -->
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '1' },
      { title: 'Employees', amount: '1' },
      { title: 'Customers', amount: '4' },
      { title: 'Awards', amount: '0' },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="One word that forms the basis of everything what we do and that is deeply rooted throughout our culture is the word <span class='text-accent'><b>CARE</b></span>. We <i>care</i> deeply about you, your customers, and our relationship to all stakeholders of what we do everyday."
    items={[
      {
        title: "Caring",
        description:
          '',
      },
      {
        title: 'Continuous Improvement',
        description:
          '',
      },
      {
        title: 'Best Practices',
        description:
          '',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Mail us',
        description:
          'jelledevleeschouwer@protonmail.com',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          '+32 (0) 484 86 68 09',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
