---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'elpee.io — Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Embedded, <span class="text-accent highlight">Low Power</span>, and Electronics Engineering
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">elpee</span> is an engineering partner to support your product development team on all things Embedded.</span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Real full-stack engineering.</span>
      We work together with Startups, Small Businesses and have a wide range of experience.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="services"
    tagline="Services"
    title="What you get with elpee.io"
    subtitle="One of the most professional and comprehensive embedded engineering service providers currently on the market."
    items={[
      {
        title: 'Firmware Engineering',
        description:
          'A seamless experience between hardware and software.',
        icon: 'tabler:code',
      },
      {
        title: 'Electronics Engineering',
        description:
          'A seamless experience between hardware and software.',
        icon: 'tabler:artboard-filled',
      },
      {
        title: 'Best Practices',
        description:
          'Following latest trends in the industry.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Ready-made building blocks to reduce your time-to-market.',
        icon: 'tabler:components',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`In the blog we keep track of new learnings, offer you tips & tricks to make your product development journey a success!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the services that elpee.io offers and how it can elevate your product development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why choose elpee.io?',
        description:
          "elpee.io cares. Not only do we care about your customers and products. But we also care about you as a person.",
      },
    ]}
  />
</Layout>
